.footer {
    margin-top: 7rem;
    text-align: center;
    padding: 5rem 0;
    position: relative;
}

.footer h2{
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-normal);
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.footer img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}